[MASTER]

ignore-paths=src/tests
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116  # missing-function-docstring

[MESSAGE CONTROL]

[FORMAT]

[REFACTORING]

[DESIGN]