[MASTER]

ignore-paths=src/tests

[MESSAGES CONTROL]

disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    W0718,  # broad-exception-caught
    E0602,  # undefined-variable
    R1710,  # inconsistent-return-statements
    R0902,  # too-many-instance-attributes
    R0913,  # too-many-arguments
    R0917,  # too-many-positional-arguments
    W0613,  # unused-argument
    R0903   # too-few-public-methods

[FORMAT]

[REFACTORING]

[DESIGN]
